
<p class="lead">Skal dere gå samme rute oppover som dere planlegger å kjøre ned?</p>

<div class="row">
    <div class="span4">

        <div class="row">
            <div class="span4">

                <label class="radio"><input type="radio" ng-model="kritiskeOmrader.nedkjoring.svar.sammeRute" ng-value="'Ja'"> Ja</label>
                <label class="radio"><input type="radio" ng-model="kritiskeOmrader.nedkjoring.svar.sammeRute" ng-value="'Nei'"> Nei</label>
            </div>
        </div>
    </div>
    <div class="span8">
        <img src="/Templates/img/skredskole/nedkjoring.jpg">
        <i>Eksempelbilde fra rett før nedkjøring. Sogndalsdalen i Sogn & Fjordane.</i>
    </div>
</div>

<nve-skred-footer alerts="alerts" custom-alerts="customAlerts()" forrige="forrige" neste="neste"></nve-skred-footer>
