
/* Himmelretninger */
.skredskoleCompass {
    fill:white;
    opacity: 0.8;
    stroke:#ccc;
    stroke-width:1;
}
.skredkoleCompassBG {
    background-image: url(images/skredskole/kompass.png);
    background-repeat: no-repeat;
}

.skredskoleCompass text {
    pointer-events: none;
}

.skredskoleCompass polygon:hover {
    fill:#ccc;
    cursor: pointer;
}

.skredskoleCompass polygon.selected {
    fill:#999;
}

.skredskoleCompass polygon.selected g {
    fill:#fff;
}

