
/* Himmelretninger */
.skredskoleCompass {
    fill:white;
    opacity: 0.8;
    stroke:#ccc;
    stroke-width:1;
}
.skredkoleCompassBG {
    background: url(images/skredskole/kompass.png) no-repeat;
}

.skredskoleCompass text {
    pointer-events: none;
}

.skredskoleCompass polygon:hover {
    fill:#ccc;
    cursor: pointer;
}

.skredskoleCompass polygon.selected {
    fill:#999;
}

.skredskoleCompass polygon.selected g {
    fill:#fff;
}

nve-canvas canvas {
    cursor: crosshair;
    position: relative;
    display: block;
    border: 1px solid #ccc;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}