
<div class="row">
    <div class="span4">
        <div class="row">
            <div class="span4">
                <label for="gruppeStorrelse"><strong>Hvor stor er gruppa som skal på tur?</strong></label>
                <div class="input-append">
                    <input class="span2" id="gruppeStorrelse" min="0" type="number" ng-model="utstyr.deltakere.svar.gruppeStorrelse">
                    <span class="add-on">Personer</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <h5>Hvor mye erfaring har dere i å gå på topptur?</h5>
                <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.erfaring" value="1"> Lite erfaring (0 - 10 turer)</label>
                <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.erfaring" value="2"> Noe erfaring (10 - 30 turer)</label>
                <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.erfaring" value="3"> Erfarne (over 30 turer)</label>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <h5>Hvordan er motivasjonen i gruppa før turen?</h5>
                <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.motivasjon" value="1"> Tilbakeholden</label>
                <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.motivasjon" value="2"> Behersket / realistisk</label>
                <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.motivasjon" value="3"> Ambisiøs</label>
            </div>
        </div>
    </div>
    <div class="span8">
        <img src="/Templates/img/skredskole/utstyr/deltakere.JPG">
    </div>
</div>

<nve-skred-footer alerts="alerts" custom-alerts="customAlerts()" forrige="forrige" neste="neste"></nve-skred-footer>