
<div class="row">
  <div class="span6">
      <div class="row">
          <div class="span6">
              <p class="lead">Sjekk om dere har alt av nødvendig utstyr!</p>
          </div>
      </div>
      <div class="row">
          <div class="span6">
            <strong>Alle turdeltakere</strong>
            <ul class="unstyled">
              <li ng-repeat="item in alleTurDeltakereLabels">
                <label class="checkbox"><input type="checkbox" ng-model="utstyr.list.svar[item.key]"> {{item.title}}</label>
              </li>
            </ul>
          </div>
      </div>
      <div class="row">
          <div class="span6">
              <strong>Tilleggsutstyr</strong>
              <ul class="unstyled">
                  <li ng-repeat="item in tilleggsUtstyrLabels">
                      <label class="checkbox"><input type="checkbox" ng-model="utstyr.list.svar[item.key]"> {{item.title}}</label>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="span6">
              <strong>Annet</strong>
              <ul class="unstyled">
                  <li ng-repeat="item in annetLabels">
                      <label class="checkbox"><input type="checkbox" ng-model="utstyr.list.svar[item.key]"> {{item.title}}</label>
                  </li>
              </ul>
          </div>
      </div>
  </div>
    <div class="span6">
        <img src="/Templates/img/skredskole/utstyr/oversikt.jpg">
    </div>
</div>

<nve-skred-footer alerts="alerts" forrige="forrige" neste="neste"></nve-skred-footer>