<h3>Deltakere</h3>

<div class="row">
  <div class="span12">
    <label for="gruppeStorrelse"><strong>Hvor stor er gruppa som skal på tur?</strong></label>
      <div class="input-append">
        <input class="span2" id="gruppeStorrelse" type="number" ng-model="utstyr.deltakere.svar.gruppeStorrelse">
        <span class="add-on">Personer</span>
      </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <strong>Hvor mye erfaring har dere i å gå på topptur?</strong>
    <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.erfaring" value="1"> Lite erfaring (0 - 10 turer)</label>
    <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.erfaring" value="2"> Noe erfaring (10 - 30 turer)</label>
    <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.erfaring" value="3"> Erfarne (over 30 turer)</label>
  </div>
</div>

<div class="row">
  <div class="span12">
    <strong>Hvordan er motivasjonen i gruppa før turen?</strong>
    <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.motivasjon" value="1"> Tilbakeholden</label>
    <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.motivasjon" value="2"> Behersket / realistisk</label>
    <label class="radio"><input type="radio" ng-model="utstyr.deltakere.svar.motivasjon" value="3"> Ambisiøs</label>
  </div>
</div>