<p class="lead">Finn den horisontale distansen ved bruk av målestokken og skriv deretter inn høydeforskjell mellom start og slutt.</p>
<div class="row">
<div class="span8">
<img src="http://farm6.staticflickr.com/5482/12431394663_6045dd32c3_o.jpg">
</div>
<div class="span4">
  <div>
    <input type="number" ng-model="rute.distanse.svar.lengde" placeholder="Horisontal distanse">
  </div>
  <hr>
  <div>
    <input type="number" ng-model="rute.distanse.svar.hoyde" placeholder="Høydeforskjell">
  </div>
</div>
</div>

<nve-skred-footer alerts="alerts" forrige="forrige" neste="neste"></nve-skred-footer>