<p class="lead">Finn den omtrentlige horisontale distansen ved bruk av målestokken og skriv deretter inn omtrentlig høydeforskjell mellom start og slutt. Oppgis i meter, rund av til nærmeste hundre meter.</p>
<div class="row">
<div class="span8">
<img ng-src="{{bilder.kartMedLosning}}">
</div>
<div class="span4">
  <div>
      <label>Horisontal distanse
        <input type="number" min="0" step="100" ng-model="rute.distanse.svar.lengde" placeholder="Horisontal distanse">
      </label>
  </div>
  <hr>
  <div>
      <label>Høydeforskjell
        <input type="number" min="0" step="100" ng-model="rute.distanse.svar.hoyde" placeholder="Høydeforskjell">
      </label>
  </div>
</div>
</div>

<nve-skred-footer alerts="alerts" forrige="forrige" neste="neste"></nve-skred-footer>