
<p class="lead">Hvilke andre alpine farer må man også passe seg for når man er på tur på {{turTittel}}?</p>

<div class="row">
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.fall"> Fall ned bratte fjellskrenter</label>
  </div>
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.bresprekker"> bresprekker</label>
  </div>
</div>

<div class="row">
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.skalver"> Skalver</label>
  </div>
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.klipper"> Klipper, steiner</label>
  </div>
</div>

<div class="row">

  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.vindavkjoling"> Kulde / vindavkjøling</label>
  </div>
</div>

<nve-skred-footer alerts="alerts"></nve-skred-footer>