
<p class="lead">Ut i fra forholdene gitt i eksempelvarselet og annen info gjennom kart og rutebeskrivelser, hvilke andre alpine farer må man passe seg for når man er på tur på <span ng-bind="turTittel"></span>? Er det for eksempel meldt mye vind i kombinasjon med lave temperaturer eller er det terrengformasjoner som kan være ekstra farlige?</p>

<div class="row">
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.fall"> Fall ned bratte fjellskrenter</label>
  </div>
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.bresprekker"> Bresprekker</label>
  </div>
</div>

<div class="row">
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.skalver"> Skavler</label>
  </div>
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.klipper"> Klipper, steiner</label>
  </div>
</div>

<div class="row">

  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.svar.vindavkjoling"> Kulde / vindavkjøling</label>
  </div>
</div>

<nve-skred-footer alerts="alerts" forrige="forrige" neste="neste"></nve-skred-footer>