<h3>Alpine farer</h3>
<p>Hvilke andre alpine farer må man også passe seg for når man er på tur på {{turTittel}}?</p>

<div class="row">
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.fall"> Fall ned bratte fjellskrenter</label>
  </div>
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.bresprekker"> bresprekker</label>
  </div>
</div>

<div class="row">
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.skalver"> Skalver</label>
  </div>
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.klipper"> Klipper, steiner</label>
  </div>
</div>

<div class="row">
  
  <div class="span6">
    <label class="checkbox"><input type="checkbox" ng-model="info.alpineFarer.vindavkjoling"> Kulde / vindavkjøling</label>
  </div>
</div>