<div class="row">
    <div class="span7">
        <p class="lead">
            Les mer om faregradene på . Fyll inn informasjonen du finner i eksempelvarselet for å planlegge denne turen.
        </p>
    </div>
    <div class="span5">
        <a class="nve-btn arrow-right" target="nveSkredskoleVindu" ng-href="{{skredvarselLink}}">
            Klikk her for å hente eksempelvarselet
        </a>
    </div>
</div>


<hr>
<div class="row">
    <div class="span4">
        <div nve-model="info.skredvarsel.svar.faregrad" nve-skredproblem-boks="faregrader"></div>
    </div>
</div>

<hr>

<div class="row">
    <div class="span3">
        <h5>Skredproblem</h5>
        <ul class="unstyled">
            <li ng-repeat="(key, label) in info.labels.skredproblem">
                <label class="radio"><input type="radio" ng-model="info.skredvarsel.svar.skredproblem" ng-value="key">
                    {{label}}</label>
            </li>
        </ul>
    </div>
    <div class="span3">
        <h5>Årsak til skredfare</h5>
        <ul class="unstyled">
            <li ng-repeat="(key, label) in info.labels.snodekke">
                <label class="checkbox"><input type="checkbox" ng-model="info.skredvarsel.svar[key]"> {{label}}</label>
            </li>
        </ul>
    </div>

    <div class="span3">
        <h5>Spesielt utsatte områder gitt i varselet</h5>
        <ul class="unstyled">
            <li ng-repeat="(key, label) in info.labels.utsatt">
                <label class="checkbox"><input type="checkbox" ng-model="info.skredvarsel.svar[key]">
                    {{label}}</label>
            </li>
        </ul>
    </div>

    <div class="span3">
        <div nve-model="info.skredvarsel.svar.tilleggsbelastning" nve-skredproblem-boks="tilleggsbelastning"></div>
    </div>

</div>


<div class="row">

    <div class="span3">
        <h5>Utsatte himmelretninger</h5>

        <div nve-compass="{model: info.skredvarsel.svar}"></div>
    </div>

    <div class="span3">
        <h5>Utsatt høydenivå over</h5>
        <img src="img/hoyde.png" alt="Utsatt høydenivå">

        <div class="input-append">
            <input class="span2" type="number" min="0" step="100" ng-model="info.skredvarsel.svar.hoydeniva">
            <span class="add-on">m</span>
        </div>
    </div>

    <div class="span3">
        <div nve-model="info.skredvarsel.svar.skredstorrelse" nve-skredproblem-boks="damageSize"></div>
    </div>

    <div class="span3">
        <div nve-model="info.skredvarsel.svar.sannsynlighet" nve-skredproblem-boks="probability"></div>
    </div>

</div>


<nve-skred-footer alerts="alerts" forrige="forrige" neste="neste"></nve-skred-footer>
