


<p class="lead">Skredvarselet inneholder også viktig informasjon om værsituasjonen og
hvordan den påvirker skredfaren.</p>


<div class="row">
  <div class="span6">
    <strong>Nedbør</strong>
    <ul class="unstyled">
      <li ng-repeat="item in nedborLabels">
        <label class="checkbox"><input type="checkbox" ng-model="info.vaer.svar[item.key]"> {{item.title}}</label>
      </li>
    </ul>
  </div>
  <div class="span6">
    <strong>Sikt</strong>
    <ul class="unstyled">
      <li ng-repeat="item in siktLabels">
        <label class="checkbox"><input type="checkbox" ng-model="info.vaer.svar[item.key]"> {{item.title}}</label>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span6">
    <strong>Vind</strong>
    <ul class="unstyled">
      <li ng-repeat="item in vindLabels">
        <label class="checkbox"><input type="checkbox" ng-model="info.vaer.svar[item.key]"> {{item.title}}</label>
      </li>
    </ul>
  </div>
  <div class="span6">
    <label for="nullisoterm"><strong>Nullisoterm:</strong></label>
    <div class="input-append">
      <input id="nullisoterm" class="span2" type="number" step="100" min="0" ng-model="info.vaer.svar.nullisoterm">
        <span class="add-on">m</span>
    </div>
  </div>
</div>

<nve-skred-footer alerts="alerts" forrige="forrige" neste="neste"></nve-skred-footer>