<div ui-view>
<div class="hero-unit ">
  <h1>Skredskolen</h1>
  <p class="lead">Prøv deg på turplanlegging for {{turTittel}}. <br>
  Dette verktøyet gir deg muligheten til å planlegge en tur før du skal ut i fjellet.</p>
  <p>Når du har fylt inn all nødvendig informasjon kan du printe ut et planleggingsskjema som du kan benytte senere.
  For å gå gjennom turplanleggingen skritt for skritt, trykker du på pilene nederst på siden.</p>
  <p>Alternativt kan du utføre de forskjellige stegene i 
    valgfri rekkefølge ved å bruke navigasjonen på toppen av siden.
  </p>
  
  <a class="btn btn-large btn-primary pull-right" ui-sref="info.info">God tur! <i class="icon-arrow-right icon-white"></i></a>
  <div class="clearfix"></div>
  
</div>
</div>


