<h3>Kritiske områder</h3>
<div class="row">
    <div class="span10">
        <p><strong>Langs ruta opp til {{turTittel}} er det spesielt to kritiske områder man må vurdere ekstra
            nøye!</strong>
        </p>

        <p>Bestem først posisjonen til disse områdene, og deretter helning, høyde, eksposisjon og hva som kjennetegner
            de kritiske punktene.</p>
    </div>
    <div class="span2">
        <div class="text-center" ng-mouseup="count = count + 1" ng-init="count=0" nve-draggable ng-show="showKritiskOmradeNr == -1">1</div>
        <div class="text-center" ng-mouseup="count = count + 1" nve-draggable ng-show="showKritiskOmradeNr == -1">2</div>
    </div>
</div>


<button class="btn" ng-click="togglePoints()">Vis kritiske områder</button>
<button class="btn" ng-click="showKritiskOmrade(1)">Fyll inn for kritisk område 1</button>
<button class="btn" ng-click="showKritiskOmrade(2)">Fyll inn for kritisk område 2</button>
<div class="row">


</div>

<div class="row">
    <div class="span12" ng-if="showKritiskOmradeNr == -1">

        <img src="http://farm6.staticflickr.com/5482/12431394663_6045dd32c3_o.jpg" ng-if="!showPoints">
        <img src="http://farm4.staticflickr.com/3757/12497404423_156c08d33c_o.jpg" ng-if="showPoints">

    </div>

    <div ng-if="showKritiskOmradeNr == 1">
        <div class="span5">
            <div class="well">
                <h3>Kritisk område #1</h3>
                <label><strong>Helning i grader:</strong> </label>
                <input type="number" ng-model="kritiskeOmrader.egenskaper.svar.helning1">
                <label><strong>Høyde i meter:</strong></label>
                <input type="number" ng-model="kritiskeOmrader.egenskaper.svar.hoyde1">

                <h4>Himmelretning</h4>

                <div nve-compass="{model: kritiskeOmrader.egenskaper.svar, keys: ['n1','no1','o1','so1','s1','sv1','v1','nv1']}"></div>
                <ul class="unstyled">
                    <li ng-repeat="item in utsatteOmraderLabels">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="kritiskeOmrader.egenskaper.svar[item.key + '1']">{{item.title}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span7">
            <img src="img/kritiskeOmrader/kyrkjebonosi/utsatt1_zoom3.jpg">
        </div>
    </div>

    <div ng-if="showKritiskOmradeNr == 2">
        <div class="span5">
            <div class="well">
                <h3>Kritisk område #2</h3>
                <label><strong>Helning i grader:</strong> </label>
                <input type="number" ng-model="kritiskeOmrader.egenskaper.svar['helning2']">
                <label><strong>Høyde i meter:</strong></label>
                <input type="number" ng-model="kritiskeOmrader.egenskaper.svar['hoyde2']">

                <h4>Himmelretning</h4>

                <div nve-compass="{model: kritiskeOmrader.egenskaper.svar, keys: ['n2','no2','o2','so2','s2','sv2','v2','nv2']}"></div>
                <ul class="unstyled">
                    <li ng-repeat="item in utsatteOmraderLabels">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="kritiskeOmrader.egenskaper.svar[item.key + '2']">{{item.title}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span7">
            <img src="img/kritiskeOmrader/kyrkjebonosi/utsatt2_zoom3.jpg">
        </div>
    </div>

</div>

<nve-skred-footer alerts="alerts" forrige="forrige" neste="neste"></nve-skred-footer>