<p class="lead">Skal dere gå samme rute oppover som dere planlegger å kjøre ned?</p>


<div class="row">
    <div class="span4">

        <div class="row">
            <div class="span4">

                <label class="radio"><input type="radio" ng-model="kritiskeOmrader.nedkjoring.svar.sammeRute" value="true"> Ja</label>
                <label class="radio"><input type="radio" ng-model="kritiskeOmrader.nedkjoring.svar.sammeRute" value="false"> Nei</label>
            </div>
        </div>
    </div>
    <div class="span8">
        <img src="img/kritiskeOmrader/nedkjoring.jpg">
    </div>
</div>

<div nve-skred-footer></div>