<hr>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Har du fylt ut rett?</h3>
    </div>
    <div class="modal-body">
        <div class="alert" ng-show="(containerObject.alerts | filter:{show:true})[0].show">
            <p ng-repeat="item in containerObject.alerts | filter:{show:true}" ng-bind="item.text"></p>
        </div>

        <div ng-show="containerObject.item.cleared">
            <p class="text-success">Alt fylt ut korrekt!</p>
        </div>

        <div class="progress progress-striped">
            <div class="bar" ng-style="containerObject.progressbarStyle" ng-class="containerObject.barClass"></div>
        </div>
    </div>
    <div class="modal-footer">
        {{containerObject.antallRiktigeSvar}} / {{containerObject.antallFasitSvar}}
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div class="row">
    <div class="span1" ng-class="{disabled: !forrige}">
        <a class="nve-btn arrow-left" ui-sref="{{forrige}}"></a>
    </div>
    <div class="offset3 span4 ">
        <div class="row">
            <div class="span4">
                <a class="nve-btn blue" data-target="#myModal" data-toggle="modal" class="btn btn-primary btn-large" ng-click="visAntallKorrekteSvar()">Sjekk svar</a>
            </div>
        </div>
        <div class="row">
            <div class="span4 pull-right">
                <button class="btn" ng-click="toggleFasit()" ng-bind="fasitKnappTekst"></button>

                <button class="btn" ng-click="emptyAnswers()">Tøm skjema</button>
            </div>
        </div>
    </div>
    <div class="offset3 span1"  ng-class="{disabled: !neste}">
        <a class="nve-btn arrow-right" ui-sref="{{neste}}"></a>
    </div>
</div>