
<h5 ng-bind="boks.name"></h5>
<div>
    <a style="display:inline-block" ng-repeat="item in boks.values" class="nve-btn" ng-click="changeModel(item.v)" ng-class="{blue: nveModel == item.v, 'btn-block': boks.vertical}" >
        <span ng-bind="item.t"></span>
    </a>
</div>

<!--
<div class="damagesprite damagesize damage{{nveModel}}">
    <div ng-repeat="item in boks.values" class="labels damage{{item.v}}Label" ng-click="changeModel(item.v)" ng-class="{activelabel: nveModel == item.v}" >
        <span ng-bind="item.t"></span>
    </div>
    <div id="damagefooter" class="labels activelabel damagefooter">
        <span ng-bind="boks.name"></span>
    </div>
</div>-->
