<hr>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sjekk svar</h3>
    </div>
    <div class="modal-body">
        <div class="alert" ng-show="(containerObject.alerts | filter:{show:true})[0].show">
            <p ng-repeat="item in containerObject.alerts | filter:{show:true}" ng-bind="item.text"></p>
        </div>

        <div ng-show="containerObject.item.cleared">
            <p class="text-success">Alt fylt ut korrekt!</p>
        </div>

        <div class="progress progress-striped">
            <div class="bar" ng-style="containerObject.progressbarStyle" ng-class="containerObject.barClass"></div>
        </div>
    </div>
    <div class="modal-footer">
        {{containerObject.antallRiktigeSvar}} / {{containerObject.antallFasitSvar}}
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<ul class="pager">
    <li class="previous" ng-class="{disabled: !forrige}">
        <a ng-href="#/{{forrige}}">&larr; Forrige</a>
    </li>
    <li>
        <button data-target="#myModal" data-toggle="modal" class="btn btn-primary btn-large" ng-click="visAntallKorrekteSvar()">Sjekk svar</button>
    </li>
    <li class="next" ng-class="{disabled: !neste}">
        <a ng-href="#/{{neste}}">Neste &rarr;</a>
    </li>
</ul>
